/*links css files*/
@import "reset.css";
@import "normalize.css";


body{
	color: #999;
	background-image: url(../images/train.jpg);
  	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  	background-size: cover;
  	font-family: 'PT Sans';
	background-attachment: fixed;
	min-height: 100%
	-webkit-text-size-adjust: none;
  	overflow-x: hidden;
  	overflow-y: hidden;
}

.wrap{}

.task-list{
	width: 350px;
	height: 350px;
	min-height: 300px;
	background: #fff;
	opacity: .8;
	margin-top: 150px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	overflow-y: auto;
}

::-webkit-scrollbar{
  width: 5px;  
}

::-webkit-scrollbar-track{
  background: #ADACA7;
}

::-webkit-scrollbar-thumb{
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.add-new-task{
	margin-left: auto;
	

}

.words{
	opacity: .9;
	color: rgb(54, 55, 47);
}

.delete-button{
	margin-left: 85%;
}

footer{
	text-align: right;
	text-align: bottom;
}



@media screen and (max-width: 376px) {
	
}


@media screen and (max-width: 460px) {
	
}

header{
	text-align: center
}